.VscChromeClose {
    animation: zoom-in-zoom-out 0.25s ease;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

.VscCircleLarge {
    animation: zoom-in-zoom-out 0.25s ease;
}

.p {
    font-size: 64px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.StyleGame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 80px;
    cursor: pointer;
    outline: none;
}

.cell:nth-child(3n+1) {
    border-right: 5px solid orange;
}

.cell:nth-child(3n+2) {
    border-right: 5px solid orange;
}

.cell:nth-child(-n+3) {
    border-bottom: 5px solid orange;
}

.cell:nth-child(-n+6) {
    border-bottom: 5px solid orange;
}

.TopInfo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
    font-size: 60px;
}

.animationForWinner {
    height: 20px;
    font-size: large;
}

.allContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50rem;
    margin-top: -10rem;
}

.PlayerCount {
    width: 15rem;
    font-size: 30px;
}

.aiCount {
    width: 15rem;
    font-size: 30px;
}

.player {
    display: flex;

    width: 20rem;
}

.player2 {
    display: flex;
    width: 5rem;
}

.player3 {
    display: flex;
    width: 10rem;
    font-weight: bold;
    color: navy;
    content: "Reference ";
}