.VscChromeClose {
    animation: zoom-in-zoom-out 0.25s ease;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

.VscCircleLarge {
    animation: zoom-in-zoom-out 0.25s ease;
}

.p {
    font-size: 64px;
}

.StyleGame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding-top: 3rem;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 80px;
    cursor: pointer;
    outline: none;
}

.cell:nth-child(3n+1) {
    border-right: 5px solid orange;
}

.cell:nth-child(3n+2) {
    border-right: 5px solid orange;
}

.cell:nth-child(-n+3) {
    border-bottom: 5px solid orange;
}

.cell:nth-child(-n+6) {
    border-bottom: 5px solid orange;
}

.allContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

.TopInfo {
    display: flex;

}

.PlayerCount {
    width: 15rem;
    font-size: 30px;
}

.aiCount {
    width: 15rem;
    font-size: 30px;
}

.animationForWinner {
    height: 7rem;
    overflow: hidden;
}

.button {
    margin: 1rem;
}

.player {
    padding-top: 2rem;
    width: 12rem;
}

.player2 {
    width: 5rem;
}

.player3 {
    padding-bottom: 0px;
    width: 5rem;
}

@media (max-width: 768px) {
    .allContent {
        display: flex;
        justify-content: center;
        align-content: center;
    }


    .PlayerCount {
        width: 10rem;
        font-size: 25px;
    }

    .aiCount {
        width: 10rem;
        font-size: 25px;
    }
}